<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  {{ partial('_partials/head/head.njk', {}, {cache: theme.cache.enable}) }}
  {%- include '_partials/head/head-unique.njk' -%}
  <title>{% block title %}{% endblock %}</title>
  {{ partial('_third-party/analytics/index.njk', {}, {cache: theme.cache.enable}) }}
  {{- next_inject('head') }}
  <noscript>
    <link rel="stylesheet" href="{{ url_for(theme.css) }}/noscript.css">
  </noscript>
</head>

<body itemscope itemtype="http://schema.org/WebPage"{% if theme.motion.enable %} class="use-motion"{% endif %}>
  <div class="headband"></div>

  <main class="main">
    <div class="column">
      <header class="header" itemscope itemtype="http://schema.org/WPHeader">
        {%- include '_partials/header/index.njk' -%}
      </header>
      {%- if theme.sidebar.display !== 'remove' %}
        {% block sidebar %}{% endblock %}
      {%- endif %}
    </div>

    <div class="main-inner {% block class %}{% endblock %}">
      {%- include '_partials/header/sub-menu.njk' -%}
      {% block content %}{% endblock %}
      {%- include '_partials/comments.njk' -%}
    </div>
  </main>

  <footer class="footer">
    <div class="footer-inner">
      {%- include '_partials/languages.njk' -%}
      {{ partial('_partials/footer.njk', {}, {cache: theme.cache.enable}) }}
    </div>
  </footer>

  {{ partial('_partials/widgets.njk', {}, {cache: theme.cache.enable}) }}

  {{ partial('_scripts/index.njk', {}, {cache: theme.cache.enable}) }}
  {{ partial('_third-party/index.njk', {}, {cache: theme.cache.enable}) }}
  {{ partial('_third-party/statistics/index.njk', {}, {cache: theme.cache.enable}) }}

  {%- include '_third-party/math/index.njk' -%}
  {%- include '_third-party/quicklink.njk' -%}

  {{- next_inject('bodyEnd') }}

</body>
</html>

<script src="https://cdn.jsdelivr.net/gh/tennisatw/live2d-widget@1.96/autoload.js" async="async" ></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/tennisatw/blogfiles@1.6/waline.css"/>
<script type="module">
    import { init } from 'https://cdn.jsdelivr.net/gh/tennisatw/blogfiles@1.6/waline.mjs';
    window.init = init;
</script>

<script type="module">
  window.init({
    el: '.comments',
    lang: 'en',
    serverURL: 'https://comment.tennisatw.com',
  });
</script>

<script>
  window.onload = function() {
    // 延迟执行，确保动画已经完成
    setTimeout(function() {
      // 获取需要操作的元素
      const targetLanguageDiv = document.getElementById(":0.targetLanguage");
      const skipTranslateDiv = document.querySelector(".skiptranslate.goog-te-gadget");
      
      // 删除不需要的文本节点和span元素
      if (skipTranslateDiv) {
        const textNodes = Array.from(skipTranslateDiv.childNodes).filter(node => node.nodeType === Node.TEXT_NODE);
        textNodes.forEach(node => node.remove());
        
        const spanElement = skipTranslateDiv.querySelector("span");
        if (spanElement) {
            spanElement.remove();
        }
      }

      // 隐藏不需要的元素
      var trans = document.getElementsByClassName('VIpgJd-ZVi9od-aZ2wEe-wOHMyf');
        for (var i = 0; i < trans.length; i++) {
            var tran = trans[i];
                tran.className += " hidden";
        }

    }, 500); // 延迟时间
  };
</script>