{% import 'menu-item.njk' as menu_item with context %}

{%- if theme.menu or theme.algolia_search.enable or theme.local_search.enable %}
<nav class="site-nav">
  <ul class="main-menu menu">
    <div id="google_translate_element"></div>
    <script type="text/javascript" async="async" >
    function googleTranslateElementInit() {
      new google.translate.TranslateElement(
        {pageLanguage: 'en,zh-CN', 
        includedLanguages: 'en,zh-CN,zh-TW,es,ar,hi,ru,ja,de,fr', 
        layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 
        'google_translate_element');
    }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    {%- for node in theme.main_menu %}
      {{- menu_item.render(node) | trim }}
    {%- endfor %}

    {%- if theme.algolia_search.enable or theme.local_search.enable %}
      <li class="menu-item menu-item-search">
        <a role="button" class="popup-trigger">
          {%- if theme.menu_settings.icons %}<i class="fa fa-search fa-fw"></i>{% endif %}{{ __('menu.search') }}
        </a>
      </li>
    {%- endif %}
  </ul>
</nav>
{%- endif %}
